@model HomeVM

@{
    ViewData["Title"] = "Index";
    string date = Convert.ToString(TempData["Date"]);
}

<main>
    <section id="time">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center">
                    <div class="head">
                        <h1>CoomingSoon</h1>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center">
                    <div class="content">
                        <h2>We're working hard to improve our website and we'll ready to launch after</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center mt-5" id="timer">
                    <input type="hidden" value="@date" id="timerTime" />
                    <div class="cardTime"><span id="days" data-days="">00</span>DAYS</div>
                    <div class="cardTime"><span id="hours" data-hours="">00</span>HOURS</div>
                    <div class="cardTime"><span id="minutes" data-hours="">00</span>MINUTES</div>
                    <div class="cardTime"><span id="seconds" data-seconds="">00</span>SECONDS</div>
                </div>
            </div>
        </div>
    </section>

    <section id="subscribe" class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center mt-5">
                    <h4>Subscribe now to get the latest updates!</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center mt-3">
                    <form method="post" asp-controller="Home" asp-action="Subscribe">
                        <div class="back">
                            <input asp-for="Subscribe.Email" size="44">
                            <span class="text-danger" asp-validation-for="Subscribe.Email"></span>
                            <button type="submit" class="btn btn-danger">Subscribe</button>
                        </div>
                        
                    </form>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center mt-4">
                    <ul class="d-flex">
                        <li><a href="#"><i class="fab fa-twitter sub"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook sub"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram sub"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin sub"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="Info" class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 left">
                    <h1>@Model.Info.LeftHead</h1>
                    
                    <h3>
                        @Model.Info.LeftContent
                    </h3>
                </div>
                <div class="col-lg-6 right">
                    <p>
                        @Model.Info.RightContent
                    </p>
                    <ul>
                        @foreach (var option in Model.RightOptions)
	{
                        <li>
                            <i class="fas fa-check check"></i>@option.Option
                        </li>
	}
                    </ul>
                    <p class="italic">
                       @Model.Info.RightDownContent
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="Contact" class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center ">
                    <h2>Contact US</h2>
                </div>
            </div>
            <div class="class">
                <div class="col-lg-12">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-4 about">
                            <div class="card-body">
                                <i class="fas fa-map-marker-alt"></i> <span>Location:</span>
                                <ul>
                                    <li>A108 Adam Street</li>
                                    <li>New York, NY 535022</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 about">
                            <div class="card-body">
                                <i class="fas fa-map-marker-alt"></i> <span>Email:</span>
                                <ul>
                                    <li>info@example.com</li>
                                    <li>contact@example.com</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 about">
                            <div class="card-body">
                                <i class="fas fa-map-marker-alt"></i> <span>Call:</span>
                                <ul>
                                    <li>+1 5589 55488 51</li>
                                    <li>+1 5589 22475 14</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4 d-flex justify-content-center ">
                    <form method="post" asp-controller="Home" asp-action="ContactUs">
                        <div class="col-lg-12">
                            <div class="row">
                                    <div asp-validation-summary="ModelOnly"></div>
                                <div class="col-lg-6">
                                    <input asp-for="Contact.Name" size="20" placeholder="Your Name">
                                    <span class="text-danger" asp-validation-for="Contact.Name"></span>
                                </div>
                                <div class="col-lg-6">
                                    <input asp-for="Contact.Email" size="20" placeholder="Your Email">
                                    <span class="text-danger" asp-validation-for="Contact.Email"></span>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-lg-12">
                                    <input asp-for="Contact.Subject" placeholder="Subject" size="50">
                                    <span class="text-danger" asp-validation-for="Contact.Subject"></span>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-lg-12">
                                    <input asp-for="Contact.Message" placeholder="Message" size="50">
                                    <span class="text-danger" asp-validation-for="Contact.Message"></span>
                                </div>
                            </div>
                            <div class="row mt-3 ">
                                <div class="col-lg-12 d-flex justify-content-center">
                                    <button type="submit" class="btn btn-danger">Send Message</button>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
                
            </div>
            
        </div>
    </section>
</main>

